:root {
  font-size: 10px;
  --light-blue: rgb(0, 135, 247);
  --border-radius-size: 0.5rem;
  --font-size: 1.6rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  background-color: #fafafa;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2rem 2rem;
}

.heading {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  padding: 1.5rem 0 0 0;
  color: #1a1a1a;
}

.heading span {
  display: block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
}

.gallery-item {
  flex: 1 0 24rem;
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: var(--border-radius-size);
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}

.gallery-image:hover {
  transform: scale(1.15);
}

/*
  If grid is available use grid instead of flexbox
*/

@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 2rem;
  }

  .gallery,
  .gallery-item {
    margin: 0;
  }
}

.dropzone {
  background: white;
  border-radius: var(--border-radius-size);
  border: 2px dashed var(--light-blue);
  border-image: none;
  max-width: 500px;
  padding: 50px;
  margin: 20px auto;
}

.dropzone p {
  font-size: 1.6rem;
}

input[type="file"] {
  display: none;
}

.custom-input {
  display: block;
  appearance: none;
  outline: 0;
  border: 1px solid var(--light-blue);
  background-color: white;
  border-radius: var(--border-radius-size);
  padding: 1rem 1.5rem;
  margin: 0 auto 2rem auto;
  text-align: center;
  font-size: var(--font-size);
  color: var(--light-blue);
  transition-duration: 0.25s;
}
